*{
  width: 250px;
}

.ntf-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  width: 250px;
  height: 75px;
  background: linear-gradient(to right, #8c8c8c, #000000);

  /*rende la notifica libera di posizionarsi dove vuole*/
  position: fixed;
  top: 150px;
  right: 0px;
  z-index: 9999;

  animation: slideIn 0.4s ease-in-out forwards;
}

.ntf-container.success { background: linear-gradient(to right, #39d355, #000000); }
.ntf-container.error   { background: linear-gradient(to right, #F30E0E, #000000); }
.ntf-container.warning { background: linear-gradient(to right, #ff7b00, #000000); }
.ntf-container.generic { background: linear-gradient(to right, #8c8c8c, #000000); }

@keyframes slideIn{
  from{
    transform: translateX(300px);
    opacity: 0;
  }
  to{
    transform: translateX(0);
    opacity: 1;
  }
}

.msg{
  color: white;
  font-family: Arial, sans-serif;
  padding-left: 15px;
  margin: 0 auto;
}

.close-ntf-btn{
  width: 30px;
  height: 30px;
  justify-content: center;
  padding: 0;
  background-color: #F30E0E;
  border: none;
  border-radius: 2px;
  color: white;
}
