#navbar{
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  gap: 0px;

  background-color: #1A1A1A;
  color: #FFFFFF;

  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

  height: 40px;
  width: 100%;

  padding-top: 4em;

  margin-bottom: 4px;
  overflow: hidden;
  border-bottom: 4px solid #39d355;
}

.nav-button{
  text-align: center;
  color: #FFFFFF;
  text-decoration: none;
  background-color: #2A2A2A;
  padding: 0px 20px;
  height: 80px;
  width: 80px;
  transition: all 0.5s ease;
  transform: translateY(40px);
}

.nav-button:hover{
  color: #000000;
  font-weight:bolder;
  background-color: #39d355;
  transform: translateY(0px);
}

.nav-right{
  display: flex;
  justify-content: right;
}


.account-button{
  margin: 5px 100px 0px 200px;
  width: 50px;
  height: 50px;
}


.game-rev-logo{
  margin: 5px 0px 25px 100px;
  height: 40px;
  width: 150px;
}




